{
    "presets": [
        "es2015",
        "es2017",
        "react"
    ],
    "plugins": [
        "react-hot-loader/babel",
        "transform-runtime",
        "transform-decorators-legacy",
        "transform-class-properties"
    ]
}