module.exports = {
    jwt: {
        secret: 'helloworld',
        authTokenOptions: {
            algorithm: 'HS256',
            expiresIn: 600,
        },
        refreshTokenOptions: {
            algorithm: 'HS256',
            expiresIn: 86400,
        }
    }
}