module.exports = {
    jwt: {
        options: {
            secret: 'helloworld',
            issuer: 'localhost',
            audience: 'localhost'
        },
        authTokenOptions: {
            algorithm: 'HS256',
            expiresIn: 600,
        },
        refreshTokenOptions: {
            algorithm: 'HS256',
            expiresIn: 86400,
        }
    }
}