module.exports = {
    salt: 'wekgpowjepojh]ajspihjjfpg2349235jotiewut89hgreey7ty3uhgedey7ew7yq3hgafkdvysiklavmkfdjiri',
    db: require('./local.db'),
    jwt: {
        secret: 'helloworld',
        authTokenOptions: {
            algorithm: 'HS256',
            expiresIn: 600,
        },
        refreshTokenOptions: {
            algorithm: 'HS256',
            expiresIn: 86400,
        }
    }
}